{% extends "portfolio/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Reset Your Password{% endblock %}

{% block content %}
<h1>Reset Your Password</h1>
{% if validlink %}
<p>Please enter your new password twice:</p>
<form action = "." method="post">
    {{ form|crispy}}
    {%  csrf_token %}
    <p><input type="submit" value="Reset My Password"/></p>
</form>
{% else %}
<p>Sorry, the password reset link was invalid. Please try sending the link again.</p>
{% endif %}
{% endblock %}
